[Desktop Entry]
Type=Application
Name=Cosmic Flux
Comment=Control the Cosmic Flux live wallpaper
Comment[fr]=Contrôle du fond d'écran animé Cosmic Flux
Icon=dev.franz_net.CosmicAppletFlux
Exec=cosmic-applet-flux %F
Terminal=false
StartupNotify=true
NoDisplay=true
Categories=COSMIC;
Keywords=COSMIC;wallpaper;live;flux;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
